<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/xin-lai/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="xin-lai" />
      <add key="ClearTextPassword" value="e9826d4386e27451a6f5a2543f0a31d9871f110a" />
    </github>
  </packageSourceCredentials>
</configuration>